<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".LomitoTvApp"
        android:allowBackup="true"
        android:banner="@drawable/tv_banner"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.LomitoTv"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.detalle.MascotaDetalleActivity"
            android:exported="false"
            android:parentActivityName=".ui.dashboard.DashboardActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.refugio.RefugioDifusionActivity"
            android:exported="false"
            android:parentActivityName=".ui.dashboard.DashboardActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.perfil.MascotaPerfilActivity"
            android:exported="false"
            android:parentActivityName=".ui.detalle.MascotaDetalleActivity"
            android:screenOrientation="landscape" />

    </application>
</manifest>
